In [38]:
'''

Make two tables for Feature Information + Paper Information 
And Relate two tables

-1970
1970-1980
1980-1990
1990-2000
2000-2005
2005-2010
2010-2015
2015-2018


+ Add Queried date

+ share polygon coordinate problem 

'''

'\n\nMake two tables for Feature Information + Paper Information \nAnd Relate two tables\n\n-1970\n1970-1980\n1980-1990\n1990-2000\n2000-2005\n2005-2010\n2010-2015\n2015-2018\n\n\n+ Add Queried date\n\n+ share polygon coordinate problem \n\n'

In [39]:
# Mars, Mercury, Moon, Venus

In [40]:
import pandas as pd
import json
import csv
import numpy as np
from datetime import date

In [58]:
data_frame = pd.read_csv('mercury_gaz.csv', index_col = False)

In [59]:
'''
load gazeeteer data from csv 
mars_gaz.csv
moon_gaz.csv
venus_gaz.csv
mercury_gaz.csv
'''

'\nload gazeeteer data from csv \nmars_gaz.csv\nmoon_gaz.csv\nvenus_gaz.csv\nmercury_gaz.csv\n'

In [61]:
data_frame = data_frame.drop(['Unnamed: 19'], axis=1)

In [62]:
data_frame.head()

,Feature_ID,Feature_Name,Clean_Feature_Name,Target,Diameter,Center_Latitude,Center_Longitude,Northern_Latitude,Southern_Latitude,Eastern_Longitude,Western_Longitude,Continent,Ethnicity,Feature_Type,Feature_Type_Code,Quad,Approval_Status,Approval_Date,Origin
0,9,Abbe,Abbe,Moon,63.98,-57.58,174.77,-56.52,-58.63,176.74,172.81,Europe,Germany,"Crater, craters",AA,LAC-132,Approved,1970,"Ernst Karl; German optician, physicist, astron..."
1,7027,Abbe H,Abbe H,Moon,25.13,-58.44,177.58,-58.03,-58.86,178.38,176.79,Europe,Germany,Satellite Feature,SF,LAC-132,Approved,2006,"Ernst Karl; German optician, physicist, astron..."
2,7028,Abbe K,Abbe K,Moon,26.10,-59.82,176.86,-59.39,-60.25,177.71,176.00,Europe,Germany,Satellite Feature,SF,LAC-132,Approved,2006,"Ernst Karl; German optician, physicist, astron..."
3,7029,Abbe M,Abbe M,Moon,28.61,-61.75,175.24,-61.27,-62.22,176.24,174.24,Europe,Germany,Satellite Feature,SF,LAC-132,Approved,2006,"Ernst Karl; German optician, physicist, astron..."
4,10,Abbot,Abbot,Moon,10.40,5.56,54.74,5.73,5.38,54.92,54.57,North America,American,"Crater, craters",AA,LAC-62,Approved,1973,Charles Greeley; American astrophysicist (1872...

In [63]:
attr_feature = data_frame[['Feature_ID', 'Clean_Feature_Name', 'Target',
       'Diameter', 'Center_Latitude', 'Center_Longitude', 'Northern_Latitude',
       'Southern_Latitude', 'Eastern_Longitude', 'Western_Longitude',
       'Continent', 'Ethnicity', 'Feature_Type', 'Feature_Type_Code', 'Quad','Approval_Status',
       'Approval_Date', 'Origin']]

In [64]:
import time
today = time.strftime("%d/%m/%Y")
query_date = []

In [65]:
# attr_feature['polygon'] = polygon

In [66]:
#Creating pandas dataframe to csv
# attr_feature.to_csv("mars_gaz_no_polygon", sep=',', header=True, index=False, encoding='utf-8')

In [67]:
# attr_feature = attr_feature.drop('polygon', 1)

In [68]:
#Creating geojson
json_result_string = attr_feature.to_json(
    orient = 'records',
    double_precision=12,
    date_format='iso'
)

In [69]:
'''
json_coord_string = polygon.to_json(
    orient = 'records',
    double_precision=12,
    date_format='iso'
)
'''

"\njson_coord_string = polygon.to_json(\n    orient = 'records',\n    double_precision=12,\n    date_format='iso'\n)\n"

In [70]:
json_result = json.loads(json_result_string)
# json_coords = json.loads(json_coord_string)

In [71]:
geojson = {
    'type': 'FeatureCollection',
    'features': []
}

In [72]:
for record in json_result:
    geojson['features'].append({
        'type': 'Feature',
        'properties': record,
    })

In [73]:
'''
for poly, record in zip(json_coords, json_result):
    geojson['features'].append({
        'type': 'Feature',
        'geometry': {
            'type': 'Polygon',
            'coordinates': poly,
        },
        'properties': record,
    })
'''

"\nfor poly, record in zip(json_coords, json_result):\n    geojson['features'].append({\n        'type': 'Feature',\n        'geometry': {\n            'type': 'Polygon',\n            'coordinates': poly,\n        },\n        'properties': record,\n    })\n"

In [74]:
with open('mercury_merge.json', 'w', encoding = 'utf-8') as f:
    f.write(json.dumps(geojson, indent = 2, ensure_ascii=False))

In [ ]:
'''
Save csv as json 
mars_merge.json
moon_merge.json
venus_merge.json
mercury_merge.json
'''